.token-card {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	min-height: 15rem;
	border-radius: 15px;
	box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
	transition: all 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
}

.token-card:hover {
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
	transform: scale(1.05);
}
